html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#chooser {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#metadata {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    font-family: Lato;
    font-size: 24px;
    color: white;
}

#time {
    display: none;
}

#visualizer {
    position: relative;
    height: 100%;
}

#visualizer svg {
    position: absolute;
    bottom: 0;
}

rect.bar {
    shape-rendering: crispEdges;
}
