html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    display: none;
}

#topPanel {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 40px;
    height: 5%;
    width: 100%;
}

#chooser, #resetEQ {
    display: flex;
    height: 100%;
    vertical-align: top;
    float: left;
    clear: none;
}

#uploadButton, #resetEQ {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#chooser label, #resetEQButton {
    align-self: center;
    padding: 0 10px;
    font-family: Lato;
    font-size: 20px;
    line-height: 19px;
    color: white;
    cursor: pointer;
}

#chooser:hover, #resetEQ:hover {
    background-color: rgb(149,101,196);
}

#chooser:active, #resetEQ:active {
    background-color: rgb(109,58,171);
}

#resetEQButton {
    border: none;
}

#volume {
    display: inline-block;
    float: right;
    cursor: default !important;
}

#volume svg {
    cursor: pointer;
}

#volume svg text {
    dominant-baseline: middle;
    pointer-events: none;
    font-family: Lato;
    font-size: 20px;
    opacity: 0.2;
    fill: white;
}

.volumeRight {
    text-anchor: end;
}

#currentVolume {
    pointer-events: none;
}

#visualizer {
    position: absolute;
    bottom: 0;
    left: 0;
}

#visualizer svg {
    display: block;
    pointer-events: none;
}

#visualizer svg * {
    pointer-events: all;
}

rect.equalizerRect {
    shape-rendering: crispEdges;
    opacity: 0.5;
}

rect.bar {
    shape-rendering: crispEdges;
}

#metadata {
    pointer-events: none;
    cursor: default;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    font-family: Lato;
    font-size: 30px;
    color: white;
}

#time {
    display: none;
}
